<dl id="location" class="record_details">
	<% tidy_up(@dwc_location.attributes).each do |label, name| %>
		<dt><%= term(label).humanize %></dt><dd><%= name %></dd>
		<p/>
	<% end %>
</dl>

<% if @dwc_location.dwc_decimal_latitude && @dwc_location.dwc_decimal_longitude %>
  <div id="map">
    <%= map(center: {
          latlng: [@dwc_location.dwc_decimal_latitude, @dwc_location.dwc_decimal_longitude],
          zoom: 12 },
        markers: [
          { latlng: [@dwc_location.dwc_decimal_latitude, @dwc_location.dwc_decimal_longitude] }
        ]) %>
  </div>
<% end %>
