<h1>Collection Objects</h1>
<table>
	<thead>
		<tr>
			<th>Catalog Number</th>
			<th>Scientific Name</th>
			<th>Higher Geography</th>
		</tr>
	</thead>
	<tbody>
		<% if @collection_objects.size == 0 %>
			<tr>
				<td colspan="4">No records uploaded</td>
			</tr>
		<% else %>
			<%= paginate @collection_objects %>
			<% @collection_objects.each do |co| %>
				<tr>
					<td><%= link_to co.catalog_number, co %></td>
					<td><%= link_to co.taxon.scientific_name, co.taxon %></td>
					<td><%= link_to co.location.higher_geography, co.location %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>