<h1>Collection Objects</h1>
<table>
	<thead>
		<tr>
			<th>Catalog Number</th>
			<th>Alt Catalog Number</th>
			<th>Scientific Name</th>
		</tr>
	</thead>
	<tbody>
		<% if @collection_objects.size == 0 %>
			<tr>
				<td colspan="3">No records uploaded</td>
			</tr>
		<% else %>
			<% @collection_objects.each do |co| %>
				<tr>
					<td><%= link_to co.catalog_number, co %></td>
					<td><%= co.other_catalog_numbers %></td>
					<td><%= co.taxon_name.scientific_name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>