<h1><%= @collection_object.catalog_number %></h1>
<table>
	<tbody>
		<% @collection_object.attributes.each do |field| %>
			<tr>
				<td><%= field.first %></td>
				<td><%= field.last %></td>
			</tr>
		<% end %>
	</tbody>
</table>
