// Grid
$base-gutter: 26px;

$master-grid: (
  columns: 12,
  gutter: $base-gutter
);

$header-grid: (
  columns: 3,
  gutter: $base-gutter
);

$content-grid: (
  columns: 3,
  gutter:$base-gutter
);

$footer-grid: (
  columns: 4,
  gutter: $base-gutter
);


// Colors
$ku-red: #901A1E;
$ku-gray: #666666;

$navigation-background: $ku-red;
$header-color: transparentize(white, 0.1);
$header-color-active: white;

$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-background-focus: white;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-search-color-focus: black;
$navigation-search-border: 1px solid darken($navigation-background, 5);

$main-content-background: linear-gradient(to bottom, transparentize(white, 0.1) 0px, white 188px);

// Layout
$page-header-height: 48px;
$page-header-height-focus: $page-header-height + 16;
$navigation-height: 40px;
$quicksearch-hight: $navigation-height - 12px;
$content-header-height: 94px;
$content-footer-height: 32px;
$page-footer-height: 246px;

// Borders
$inner-border-weight: 1px;
$header-inner-border: $inner-border-weight solid transparentize(white, 0.3);


// Widgets
$dropdown-inner-border: none;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 38px;
$dropdown-background: transparentize($navigation-search-background-focus, 0.1);
$dropdown-background-hover: transparentize($navigation-background, 0.4);

$breadcrumb-border-color: white;
$breadcrumb-border: $header-inner-border;
$breadcrumb-height: $base-spacing; //* 1.5;
