// Place all the styles related to the collection_objects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { height: 320px; }

dl {}

dl dt {
	display: inline-block;
	width: 12rem;
}

dl dd {
	display: inline-block;
}