header.page-header{
  position: fixed;
  min-width: 100%;
  background-color: $navigation-background;
  background-image: url('ku_logo_m');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 20px 10px;
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $page-header-height;
  z-index: 999;
  transition: height .1s;

  a {
    color: $header-color;
    display: inline-block;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $header-color-hover;
    }
  }

  .container {
    border-bottom: $header-inner-border;
    min-height: $navigation-height;

    nav {
      @include grid-column(10, $master-grid);
      @include grid-shift(1);
      z-index: 9999;

      .header-column {
        @include grid-column(1, $header-grid);
      }

      ul.navigation-menu {
        overflow: visible;

        li.nav-link {
          background: inherit;
          display: block;
          line-height: $navigation-height;
          overflow: hidden;
        }

        li.nav-link.more {
          &::after {
            color: $header-color;
            content: "\25BE";
          }
        }

        li.more {
          &:focus > .submenu,
          &:hover > .submenu {
            display: block;
          }
        }

        ul.submenu {
          box-sizing: border-box;
          display: none;
          position: absolute;
          background-color: $navigation-background;
          border: $navigation-search-border;
          border-radius: $base-border-radius;
          box-shadow: 0 2px 2px transparentize(black, 0.8);
//           color: $navigation-search-color-focus;
          cursor: pointer;

          margin: 0;
          padding: 0;
          overflow: visible;
          position: absolute; // doesn't seem to do anything
          transition: all 0.2s ease-in-out;
          // min-width: 100%;
          z-index: 99999;

          > li {
            border-bottom: $dropdown-inner-border;
//             color: inherit;
//             display: block;
            padding-left: $dropdown-padding / 2;
            padding-right: $dropdown-padding / 2;

            a {
//               background-color: $navigation-background;
//               border: 1px solid darken($navigation-background, 10);;
//               display: inline-block;
//               min-width: 100%;
            }
          }
        }
      }

      .quicksearch {
        line-height: $navigation-height;
        display: block;
        position: relative;
        width: 100%;
        margin-top: 6px;

        .awesomplete {
          display: inline-block;
          float: left;
          width: 90%;
          height: $quicksearch-hight;

          > input[type=search] {
            background: $navigation-search-background;
            border: $navigation-search-border;
            border-right: 0;
            border-top-left-radius: $base-border-radius * 2;
            border-bottom-left-radius: $base-border-radius * 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-sizing: border-box;
            color: $header-color;
            font-size: 0.9em;
            font-style: italic;
            margin: 0;
            padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;
            line-height: $quicksearch-hight;

            &:focus {
              background-color: $navigation-search-background-focus;
              color: $navigation-search-color-focus;
              outline-style: none;
            }

            &::placeholder {
              font-size: 0.7em;
              color: inherit;
            }
          }

          [hidden] {
            display: none;
          }

          .visually-hidden {
            position: absolute;
            clip: rect(0, 0, 0, 0);
          }

          > ul {
            box-sizing: border-box;
            display: block;
            position: absolute;
            background: $dropdown-background;
            border: $navigation-search-border;
            border-radius: $base-border-radius;
            box-shadow: 0 2px 2px transparentize(black, 0.8);
            color: $navigation-search-color-focus;
            cursor: pointer;
            margin: 0;
            padding: 0;
            overflow: visible;
            top: $dropdown-distance-from-menu;   // candidate for removal
            transition: all 0.2s ease-in-out;
            min-width: 90%;
            z-index: 99999;

            &::before {
              position: absolute;
              color: $dropdown-background;
              content: "\25b2";
              font-size: 1.4em;
              pointer-events: none;
              text-shadow: 0 -2px 2px transparentize(black, 0.7);
              top: -1em;
            }

            :empty {
              display: none;
            }

            > li {
              border-bottom: $dropdown-inner-border;
              color: inherit;
              padding-left: $dropdown-padding / 2;
              padding-right: $dropdown-padding / 2;

              &:hover {
                background: $dropdown-background-hover;
                color: $header-color-hover;
              }

              &:first-child {
                border-top-left-radius: $base-border-radius;
                border-top-right-radius: $base-border-radius;
              }

              &:last-child {
                border: 0;
                border-bottom-left-radius: $base-border-radius;
                border-bottom-right-radius: $base-border-radius;
              }

              &[aria-selected="true"] {
                background: $dropdown-background-hover;
                color: $header-color-hover;
              }
            }
          }

          mark {
            background-color: transparent;
            color: inherit;
            font-weight: bold;
          }

          li[aria-selected="true"] mark {
            font-weight: bold;
            color: inherit;
          }
        }

        input[type=image] {
          width: 10%;
          background: $navigation-search-background;
          border: $navigation-search-border;
          border-left: 0;
          border-top-right-radius: $base-border-radius * 2;
          border-bottom-right-radius: $base-border-radius * 2;
          outline: none;
          padding: 0 6px;
          height: $quicksearch-hight + 2;
          margin: 0;

          &:hover {
            background-color: $navigation-nav-button-background-hover;
          }
        }
      }
    }
  }

  .breadcrumb {
    @include grid-column(10, $master-grid);
    @include grid-shift(1);
    display: inline-block;
    text-align: left;

    a {
//       border: $breadcrumb-border;
      border-left: 0;
      display: inline-block;
      font-size: .8em;
      font-weight: lighter;
      line-height: $breadcrumb-height;
//       margin-bottom: 2px;
      margin-right: -5px;
      padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
      position: relative;

      &:first-child {
//         border-left: $breadcrumb-border;
        padding-left: $breadcrumb-height / 2;
      }

      &:last-child {
  //       background-color: $breadcrumb-background;
//           border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
  //       color: $breadcrumb-color-active;
        padding-right: $breadcrumb-height / 2;
      }

      &::after,
      &::before {
        @include position(absolute, 0 auto 0 100%);
        border-bottom: $breadcrumb-height / 2 solid transparent;
        border-left: $breadcrumb-height / 4 solid transparent;
        border-top: $breadcrumb-height / 2 solid transparent;
        content: "";
        display: block;
        margin: auto;
        z-index: 2;
      }

      &:last-child::after,
      &:last-child::before {
        border: 0;
      }

      &::before {
        border-left-color: $breadcrumb-border-color;
        margin-left: $inner-border-weight;
        z-index: 1;
      }

      &::after {
        border-left-color: $navigation-background;
      }
    }
    visibility: collapse;
  }

  &:hover {
    height: $page-header-height-focus;

    .breadcrumb {
      visibility: visible;
      transition: visibility 0.1s 0.1s;
    }
  }
}
