$base-gutter: 26px;

$master-grid: (
  columns: 12,
  gutter: $base-gutter
);

$header-grid: (
  columns: 3,
  gutter: $base-gutter
);

$content-grid: (
  columns: 3,
  gutter:$base-gutter
);

$footer-grid: (
  columns: 4,
  gutter: $base-gutter
);

.master-layout {
  @include grid-container;
  background-color: #f8f8f8;
  position: relative;     // required to keep footer at the bottom
  min-height:100%;        // required to keep footer at the bottom

  .content-box {
    @include grid-column(10, $master-grid);
    @include grid-push(1);

    background-color: white;
    padding-bottom: 246px;  // required to keep footer at the bottom

    header.content-header {
      @include grid-column(3, $content-grid);
      height: 94px;
      background-image: url('ku_logo');
      background-repeat: no-repeat;
      background-position: left bottom;
      margin-bottom: 1em;

      .header-container {
        background-repeat: no-repeat;
        background-position: right;
        height: 89px;
        border-bottom: solid #901A1E 1px;

        .header-content {
          padding: 12px 0 12px 90px;
        }
      }
    }

    .main-content {
      @include grid-column(3, $content-grid);
    }

    footer.content-footer {
      @include grid-column(3, $content-grid);
      $light-gray: #DDD !default;

      border-top: 1px solid $light-gray;

      .metadata {
        font-size: .8em;
      }
    }

    .pagination-container {

      .pagination {
        font-size: 0.8em;
      }
    }
  }

  footer.page-footer {
    position: absolute;     // required to keep footer at the bottom
    bottom: 0;              // required to keep footer at the bottom
    @include grid-column(12, $master-grid);
    @include grid-collapse;
    @include grid-container;
    height: 246px;
    color: white;
    background: linear-gradient(to bottom, #777 0%, #868686 25%, #8e8d8d 50%, #888 80%, #808080 100%);

    .container {
      @include grid-column(4, $footer-grid);
      height: 100%;
      background-image: url('ku_logo_footer');
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }
}
