// Grid
$base-gutter: 26px;

$master-grid: (
  columns: 12,
  gutter: $base-gutter
);

$header-grid: (
  columns: 3,
  gutter: $base-gutter
);

$content-grid: (
  columns: 3,
  gutter:$base-gutter
);

$footer-grid: (
  columns: 4,
  gutter: $base-gutter
);

// Colors
$ku-red: #901A1E;
$ku-gray: #666666;

$navigation-background: $ku-red;
$navigation-color: transparentize(white, 0.1);
$navigation-color-hover: white;

$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-background-focus: white;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);


// Layout
$page-header-height: 64px;
$navigation-height: 40px;


// Borders
$inner-border-weight: 1px;
$header-inner-border: $inner-border-weight solid transparentize(white, 0.3);
